@font-face {
  font-family: sofiasans;
  src: url(sofiasans.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.next-buttons{
  position: absolute;
  left: 95%;
  top: 95%;
  color: white;
  text-decoration: none;
  font-family: sofiasans;
}

.next-buttons-black{
  position: absolute;
  left: 95%;
  top: 95%;
  color: black;
  text-decoration: none;
  font-family: sofiasans;
}
